@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
}
html { overflow-y: scroll; }
  .navHeader {
    font-size: 35px;
    text-align: center;
    margin-top: -6px;
    margin-bottom: 5px;
    padding-top: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px #f58a07;
    font-family: 'Fredoka One';
    font-weight: normal;
  }
  

  nav { 
    height: 125px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #084887;
    background: linear-gradient(to bottom right,#f7f5fb, #909cc2, #f9ab55, #f9ab55, #909cc2,#f7f5fb
    );

  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    
    
  }
  
  nav ul li {
    display: inline-block;
    
  }
  
  nav a {
    display: block;
    padding: 0 70px;
    color: #fff;
    font-size: 20px;
    line-height: 58px;
    text-decoration: none;
    border-radius: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 0.4s;
    font-weight: 500;
    
  }
  
  nav a:hover {
    background-color: #909cc2;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgb(37, 11, 133);
    color: #f9ab55;
  }
  
  /* Hide Dropdowns by Default */
  nav ul ul {
    display: none;
    position: absolute;
    top: 55px; /* the height of the main nav */
  }
  
  /* Display Dropdowns on Hover */
  nav ul li:hover > ul {
    display: inherit;
  }
  
  /* First Tier Dropdown */
  nav ul ul li {
    width: 260px;
    top: 7px;
    padding-left: -60px;
    margin-left: -12px;
    float: center;
    display: list-item;
    position:relative;
    background:#084887;
    transition-duration: 0.4s;
  }
  
  /* Second, Third and more Tiers */
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
  }
  
  /* Change this in order to change the Dropdown symbol */
  li > a:after {
    content: " ";
  }
  li > a:only-child:after {
    content: "";
  }
 
  nav button[type=button]{
    background-color: #f58a07;
    border-color: #f58a07;
    border-radius: 80px;
    float: right;
    padding: 0px;
    margin-top: -40px;
    margin-right: 23rem;
    position: relative;
    width: 5rem;
    size: 3rem;
    font-size: 10px;
    font-weight: 700px;
  }
  nav input[type="text"] {
    float: right;
    padding: 8px;
    border-style: round;
    margin-top: -48px;
    margin-right: 50px;
    font-size: 17px;
    position: relative;
  }
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  
  body {
    background: #f7f5fb;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    word-wrap: break-word !important;
    font-family: "Open Sans", sans-serif;
  }
  